/* Master Styles */
h1 {
  color: #369;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 150%;
}

h2 {
  color: #444;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: lighter;
}

h3 {

  font-family: Arial, Helvetica, sans-serif;
  font-size: 150%;
}

.negative {
  color: #ff4949;
}

body {
  margin: 2em;
}

body, input[text], button {
  color: #888;
  font-family: Cambria, Georgia;
}

a {
  cursor: pointer;
  cursor: hand;
}

button, input, select {
  font-family: Arial;
  background-color: #eee;
  border: 2px #eee solid;
  padding: 5px 10px;
  border-radius: 4px;
  cursor: pointer;
  cursor: hand;
}

input {
  background-color: white;
}

hr {
  border: 0;
  border-bottom: 2px solid #eee;
}

input::placeholder {
  color: #cfd8dc;
  font-style: italic;
}

button:hover {
  background-color: #cfd8dc;
}

button:disabled {
  background-color: #eee;
  color: #aaa;
  cursor: auto;
}

button.buy {
  border-color: green;
}

button.sell {
  border-color: red;
}

/* Navigation link styles */
nav a {
  padding: 5px 10px;
  text-decoration: none;
  margin: 10px 10px 20px 0;
  display: inline-block;
  background-color: #eee;
  border-radius: 4px;
}

nav a:visited, a:link {
  color: #607D8B;
}

nav a:hover {
  color: #039be5;
  background-color: #CFD8DC;
}

nav a.active {
  color: #039be5;
}

table.crypto {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 50%;
  margin-bottom: 30px;
  border: 2px #eee solid;

}

table.crypto td, table.crypto th {
  padding: 8px;
}

table.crypto tr:nth-child(even) {
  background-color: #f2f2f2;
}

table.crypto tr:hover {
  background-color: #ddd;
}

table.crypto th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #369;
  color: white;
}

table.crypto tr:last-child td:first-child {
  border-bottom-left-radius: 4px;
}

table.crypto tr:last-child td:last-child {
  border-bottom-right-radius: 4px;
}

.right {
  text-align: right !important;
}

.total {
  font-weight: bold;
}

.flex {
  display: flex;
}

/* everywhere else */
* {
  font-family: Arial, Helvetica, sans-serif;
}


